.advantages {
  width: 100%;
  margin-top: 0;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color-gray;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    border-bottom: none;
  }
}

.advantages__title {
  margin-bottom: 24px;
  margin-left: 20px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
    margin-left: 30px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
    margin-left: 110px;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 21px;

  @media (min-width: $tablet-width) {
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 30px;
    margin-right: 95px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin-top: 72px;
    margin-left: 110px;
    margin-right: 104px;
  }
}

.advantages__item {
  margin-bottom: 6px;
  position: relative;
  min-height: 60px;
  align-items: center;
  display: flex;

  @media (min-width: $tablet-width) {
    width: 260px;
    margin-bottom: 42px;
    margin-right: 0;
    margin-top: 35px;
    display: flex;
    align-items: start;

    &::after {
      content: "";

      font-family: $font-stack-oswald;
      font-size: 281px;
      line-height: 281px;
      color: $color-gray;
      z-index: -1;

      position: absolute;
      right: 10px;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 250px;
    margin-right: 0;
    margin-bottom: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-green;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px auto;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--green {
    &::before {
      background-image: url("../img/png/advantage-leaf@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/png/advantage-leaf@2x.png");
      }
    }

    &::after {
      @media (min-width: $tablet-width) {
        content: "1";
        right: 31px;
      }

      @media (min-width: $desktop-width) {
        right: 21px;
      }
    }
  }

  &--easy {
    &::before {
      background-image: url("../img/png/advantage-powder@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/png/advantage-powder@2x.png");
      }
    }

    &::after {
      @media (min-width: $tablet-width) {
        content: "2";
        right: 14px;
      }

      @media (min-width: $desktop-width) {
        right: 5px;
      }
    }
  }

  &--change {
    &::before {
      background-image: url("../img/png/advantage-dining@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/png/advantage-dining@2x.png");
      }
    }

    &::after {
      @media (min-width: $tablet-width) {
        content: "3";
        right: 13px;
      }

      @media (min-width: $desktop-width) {
        right: 4px;
      }
    }
  }

  &--fast {
    &::before {
      background-image: url("../img/png/advantage-clock@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/png/advantage-clock@2x.png");
      }
    }

    &::after {
      @media (min-width: $tablet-width) {
        content: "4";
        right: 10px;
      }

      @media (min-width: $desktop-width) {
        right: 2px;
      }
    }
  }
}

.advantages__description {
  margin-left: 80px;
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    margin-top: 112px;
    margin-bottom: 58px;
    padding: 0;
  }
}
