.advantages {
  width: 100%;
  margin: 0 auto;
}

.advantages__title {
  margin-bottom: 26px;
  margin-left: 20px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-top: 51px;
    margin-left: 25px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 72px;
    margin-left: 110px;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 21px;

  @media (min-width: $tablet-width) {
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 34px;
    margin-left: 24px;
    margin-right: 95px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin-top: 72px;
    margin-left: 110px;
    margin-right: 100px;
  }
}

.advantages__item {
  margin-bottom: 20px;
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-green;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--green.advantages__item::before {
    background-image: url("../img/png/advantage-1-png.png");
  }

  &--easy.advantages__item::before {
    background-image: url("../img/png/advantage-2-png.png");
  }

  &--change.advantages__item::before {
    background-image: url("../img/png/advantage-3-png.png");
  }

  &--fast.advantages__item::before {
    background-image: url("../img/png/advantage-4-png.png");
  }

  @media (min-width: $tablet-width) {
    width: 260px;
    margin-bottom: 34px;
    margin-right: 0;
    margin-top: 37px;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "";

      font-family: $font-stack-oswald;
      font-size: 281px;
      line-height: 281px;
      color: $color-gray;
      z-index: -1;

      position: absolute;
      right: 10px;
      bottom: 7px;
    }

    &--green.advantages__item::after {
      content: "1";
      right: 26px;
    }

    &--easy.advantages__item::after {
      content: "2";
    }

    &--change.advantages__item::after {
      content: "3";
    }

    &--fast.advantages__item::after {
      content: "4";
      right: 8px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 250px;
    margin-right: 0;

    &:nth-child(n + 3) {
      margin-top: 0;
    }
  }
}

.advantages__description {
  margin-left: 80px;
  padding-top: 2px;
  padding-bottom: 5px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    margin-top: 109px;
    margin-bottom: 58px;
    padding: 0;

    br {
      display: inline;
    }
  }
}
