.contacts {
  // background-color: $color-gray;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    max-width: $max-width;
    position: relative;
  }
}

.contacts__title {
  font-family: $font-stack-oswald;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-main;
  text-transform: uppercase;
}

.contacts__description {
  font-family: $font-stack-arial;
  font-size: 14px;
  line-height: 20px;
  color: $text-color-description;
}

// .contacts__map {
//   width: 320px;
//   height: 400px;
// }

.contacts__wrapper {
  min-height: 114px; // Временно для сетки
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
    min-height: 208px; // Временно для сетки
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 570px;
    min-height: 201px; // Временно для сетки
    top: 95px;
    margin: 0 110px;
  }
}

.contacts__wrapper-map {
  min-height: 362px; // Временно для сетки
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 400px; // Временно для сетки
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    max-width: $max-width;
    min-height: 400px; // Временно для сетки
  }
}
