.contacts {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    max-width: $max-width;
    position: relative;
  }
}

.contacts__title {
  font-family: $font-stack-oswald;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-main;
  text-transform: uppercase;
  width: 130px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 29px;
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
    width: 155px;
    margin-top: 67px;
    margin-left: 66px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 75px;
  }
}

.contacts__description {
  font-family: $font-stack-arial;
  font-size: 14px;
  line-height: 20px;
  color: $text-color-description;
  width: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 155px;
    margin-top: 65px;
    margin-right: 66px;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-right: 90px;
  }
}

.contacts__map {
  width: 100%;
  height: 363px;

  @media (min-width: $tablet-width) {
    height: 404px;
  }

  @media (min-width: $desktop-width) {
    width: $max-width;
  }
}

.contacts__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: $color-gray;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 570px;
    top: 95px;
    margin: 0 110px;
    z-index: 1;
  }

  &--white {
    background-color: $color-white;
  }
}

.contacts__wrapper-map {
  margin: 0 auto;
  position: relative;
  background-image: url("../img/png/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: $mobile-width auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    background-image: url("../img/png/bg-map-tablet@1x.png");
    background-size: $tablet-width 404px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    max-width: $max-width;
    background-image: url("../img/png/bg-map-desktop@1x.png");
    background-size: $max-width 404px;
  }
}
