.copyright__title {
  font-family: $font-stack-arial;
  font-size: 16px;
  line-height: 16px;
  color: $text-color-description;
}

.copyright__link {
  text-transform: none;
}

.copyright__logo {
  width: 27px;
  height: 34px;
}
