.example {
  background-color: $color-gray;
}

.example__goals-list {
  list-style: none;
}

.example__goals-title {
  font-family: $font-stack-oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: $text-color-main;
  text-align: left;
}

.example__goals-description {
  font-family: $font-stack-arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: $text-color-description;
  text-align: center;
}

.example__price {
  font-family: $font-stack-oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $text-color-main;
  text-align: center;
}
