.extra-catalog {
  width: 100%;
  margin: 0 auto;
  margin-top: 27px;
}

.extra-catalog__title {
  font-family: $font-stack-oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $text-color-main;
  margin-top: 25px;
  margin-left: 19px;
  margin-bottom: 30px;
}

.extra-catalog__list {
  width: $wrapper-tablet;
  margin: 0 auto;
}

.extra-list__item {
  min-height: 128px; // Временно для сетки
}

@media (min-width: $tablet-width) {
  .extra-catalog {
    width: 100%;
    margin-top: 67px;
  }

  .extra-catalog__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 37px;
    margin-bottom: 79px;
  }

  .extra-catalog__list {
    width: $wrapper-tablet;
  }

  .extra-list__item {
    min-height: 138px; // Временно для сетки
  }
}

@media (min-width: $desktop-width) {
  .extra-catalog {
    width: 1220px;
    margin-top: 75px;
  }

  .extra-catalog__list {
    width: 895px;
    margin: 0;
  }

  .extra-list__item {
    min-height: 71px; // Временно для сетки
  }

  .extra-catalog__title {
    margin-left: 0;
  }

  .extra-catalog-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
  }
}
