.extra-list {
  list-style: none;
  padding: 0;
  border-top: 1px solid $color-border-gray;

  @media (min-width: $tablet-width) {
    border: 1px solid $color-border-gray;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }

  .product-name {
    width: auto;
    font-family: $font-stack-oswald;
    font-size: 16px;
    line-height: 16px;
    color: $color-black;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-right: auto;
    margin-left: 3px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      text-align: left;
      padding-top: 25px;
      padding-left: 39px;
      margin: 0;
      width: 50%;
    }

    @media (min-width: $desktop-width) {
      width: 33%;
      margin-left: 0;
      margin-top: 25px;
      margin-bottom: 25px;
      padding-left: 0;
      padding-top: 0;
      padding-right: 20px;
    }
  }

  .button {
    padding: 10px 10px;
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      margin-top: 7px;
      margin-bottom: 25px;
      margin-left: 38px;
      margin-right: 38px;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
      margin-bottom: 16px;
      margin-top: 15px;
      margin-right: 0;
      margin-left: 0;
      padding: 10px 56px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.extra-list__properties {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-top: 28px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    width: 33%;
    display: flex;
    justify-content: space-between;
  }

  tbody {
    @media (min-width: $tablet-width) {
      width: 100%;
      display: block;
    }
  }

  tr {
    @media (min-width: $tablet-width) {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: 35px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-right: 0;
    }
  }
}

.extra-list__volume {
  font-family: $font-stack-arial;
  font-size: 14px;
  line-height: 14px;
  color: $text-color-description;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 200px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    text-align: left;
    display: block;
  }
}

.extra-list__price {
  font-family: $font-stack-arial;
  font-size: 14px;
  line-height: 14px;
  color: $text-color-description;
  text-align: right;
  width: 80px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 95px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    text-align: left;
    padding-left: 49px;
    display: block;
  }
}

.extra-list__item {
  border-bottom: 1px solid $color-pinkish-gray;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
