.goals__list {
  list-style: none;
}

.goals__item {
  background-color: $color-gray;
}

.goals__title {
  @include style-text-goals-title;
}

.goals__link {
  @include style-text-goals-link;
  text-decoration: none;
}
