.main-catalog {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    width: $desktop-work-width;
  }
}

.main-catalog__list {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: 15px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
