.main-nav {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-end;
    justify-content: flex-end;
  }

  &--closed {
    .main-nav__open-menu::before,
    .main-nav__open-menu::after {
      content: "";
      position: absolute;
      top: 23px;
      left: 20px;
      width: 25px;
      height: 2px;
      background-color: $color-black;
      box-shadow: 0 8px 0 0 $color-black, 0 16px 0 0 $color-black;
      transition: all 0.25s ease-in-out;
    }

    .site-list__item {
      @media (max-width: $tablet-width - 1px) {
        display: none;
      }
    }
  }

  &--opened {
    .main-nav__open-menu {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 32px;
        left: 21px;
        width: 24px;
        height: 2px;
        background-color: $color-black;
        transform: translate(-50%, -50%);
        transition: all 0.25s ease-in-out;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &--nojs {
    .main-nav__open-menu {
      @media (max-width: $tablet-width - 1px) {
        display: none;
      }
    }

    .site-list__item {
      @media (max-width: $tablet-width - 1px) {
        display: block;
      }
    }
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__open-menu {
  position: absolute;
  display: block;
  width: 65px;
  height: 60px;
  top: 0;
  right: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
