.main-nav {
  width: 100%;
  margin: 0 auto;
  /* Временно для сетки */
  min-height: 195px;// Временно для сетки
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  /* Временно для сетки */
  min-height: 65px;// Временно для сетки
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    align-items: center;
    width: auto;
    margin: 0;
    /* Временно для сетки */
    min-height: 108px;// Временно для сетки
  }
}


@media (min-width: $desktop-width) {
  .main-nav {
    align-items: flex-end;
    /* Временно для сетки */
    min-height: 113px;// Временно для сетки
  }
}
