.page-main__wrapper {
  width: $wrapper-mobile;
  // background-color: $color-green;
  // background-image: url("../img/jpg/index-background-mobile@1x.jpg");
  // background-repeat: no-repeat;
  // background-position: center top;
  // background-size: 320px, 305px;
  min-height: 485px; // Временно для сетки

  &--catalog {
    min-height: 85px; // Временно для сетки
  }

  &--form {
    min-height: 148px; // Временно для сетки
  }
}

.page-main__head {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: $font-stack-oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $text-color-main;
  text-align: center;

  &--white {
    color: $text-color-support;
    text-align: center;
  }

  &--catalog {
    padding: 0;
  }

  &--form {
    text-align: left;
  }
}

.page-main__description {
  font-family: $font-stack-oswald;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-main;
  text-transform: uppercase;
  margin-top: 34px;
}

.page-main__slogan {
  margin-top: 23px;
  font-family: $font-stack-oswald;
  font-size: 14px;
  line-height: 14px;
  color: $text-color-support;
  text-align: center;
  text-transform: uppercase;
}

.page-main__image {
  width: 280px;
  height: 270px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.page-main__search-program {
  box-sizing: border-box;
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 11px 73px;
}

@media (min-width: $tablet-width) {
  .page-main__wrapper {
    position: relative;
    width: $wrapper-tablet;
    min-height: 835px; // Временно для сетки

    &--catalog {
      min-height: 122px; // Временно для сетки
    }

    &--form {
      min-height: 247px; // Временно для сетки
    }
  }

  .page-main__head {
    margin-top: 30px;
    font-size: 60px;
    line-height: 60px;
    color: $text-color-main;
    text-align: left;
    padding-left: 85px;
    padding-right: 85px;

    &--white {
      color: $text-color-main;
    }

    &--form {
      padding: 0;
    }

    .page-main__description {
      font-size: 20px;
      line-height: 30px;
      margin-left: 41px;
      margin-top: 58px;
    }
  }

  .page-main__slogan {
    font-size: 20px;
    line-height: 20px;
    color: $text-color-main;
    text-align: left;
    padding-left: 88px;
    padding-right: 88px;
    margin-top: 43px;
  }

  .page-main__image {
    position: absolute;
    width: 709px;
    height: 609px;
    top: 210px;
  }

  .page-main__search-program {
    width: 245px;
    margin-left: 88px;
    margin-top: 33px;
    padding: 15px 25px;
    z-index: 2;
    margin-bottom: 520px;
  }

  .page-main__search-program.button {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: $desktop-width;
    margin: 0 auto;
  }

  .page-main__wrapper {
    width: $desktop-width;
    margin: 0 auto;
    min-height: 698px; // Временно для сетки
    // background: url("../img/jpg/index-background-desktop@1x.jpg") no-repeat top right;

    &--catalog {
      width: 1220px;
      min-height: 157px; // Временно для сетки
    }

    &--form {
      min-height: 284px; // Временно для сетки
    }
  }

  .page-main__head {
    margin-top: 220px;

    &--catalog {
      margin-top: 75px;
    }
  }

  .page-main__image {
    top: 103px;
    left: 459px;
    width: 552px;
    height: 499px;
  }

  .page-main__search-program {
    margin-top: 35px;
    margin-bottom: 188px;
  }
}
