.page-footer {
  background-color: $color-gray;

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    max-width: $max-width;
    margin: 0 auto;
  }
}

.page-footer__logo-image {
  width: 128px;
  height: 24px;
}

.page-footer__logo {
  width: 100%;
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 28px;
  display: block;
  text-align: center;
  border-bottom: 1px solid $color-border-gray;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    text-align: left;
    align-items: center;
    padding: 0;
    margin: 62px 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: 61px;
    margin-bottom: 60px;
  }
}

.page-footer__social {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: 0;
  }
}

.page-footer__copyright {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: 0;
  }
}

.page-footer__wrapper {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
  }
}
