.page-main {
  min-width: $mobile-width;

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    margin: 0 auto;
  }
}

.page-main__wrapper {
  width: 100%;

  &--form {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;

    @media (min-width: $tablet-width) {
      margin-left: 29px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 110px;
      margin-top: 71px;
      margin-right: 110px;
      width: auto;
    }

    .page-main__description {
      margin-top: 36px;

      @media (min-width: $tablet-width) {
        margin-top: 56px;
      }

      @media (min-width: $desktop-width) {
        margin-left: 0;
      }
    }
  }

  .button {
    font-size: 14px;
    line-height: 18px;
    width: 280px;
    margin-top: 4px;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
    padding: 11px 0;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      text-align: left;
      width: 245px;
      padding: 16px 25px;
      margin-bottom: 529px;
      margin-left: 119px;
      margin-right: auto;
      margin-top: 47px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 268px;
      margin-top: 53px;
      margin-left: 190px;
    }
  }
}

.page-main__head {
  padding-top: 27px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    width: 542px;
    margin-top: 52px;
    margin-left: 117px;
    margin-right: auto;
    margin-bottom: 42px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 190px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 222px;
  }

  &--catalog {
    padding: 0;
    margin-bottom: 40px;
    margin-top: 27px;
    margin-right: 20px;
    margin-left: 20px;

    @media (min-width: $tablet-width) {
      margin-left: 30px;
      margin-bottom: 34px;
      margin-top: 52px;
      margin-right: 30px;
      width: auto;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      margin-top: 71px;
      margin-left: 111px;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &--form {
    margin-left: 0;
    padding-top: 27px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }
}

.page-main__description {
  font-family: $font-stack-oswald;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-main;
  text-transform: uppercase;
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 41px;
    margin-top: 58px;
  }
}

.page-main__slogan {
  margin-top: 23px;
  font-family: $font-stack-oswald;
  font-size: 14px;
  line-height: 14px;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 540px;
    font-size: 20px;
    line-height: 20px;
    color: $text-color-main;
    text-align: left;
    margin-left: 118px;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 190px;
    margin-top: 41px;
  }
}

.page-main__image {
  display: block;
  width: 280px;
  height: 270px;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    margin-left: -357px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 712px;
    height: 610px;
    top: 200px;
    left: 50%;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    top: 142px;
    left: 50%;
    width: 552px;
    height: 499px;
    margin-left: -160px;
    z-index: 0;
  }
}
