.product {
  border-bottom: 1px solid $color-border-gray;

  @media (min-width: $tablet-width) {
    border: none;
    background-image: linear-gradient(0deg, $color-gray 84%, transparent 50%);
  }

  .button {
    display: block;
    width: 100%;
    padding: 11px 73px;
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      width: auto;
      margin-top: 32px;
      margin-left: 38px;
      margin-right: 38px;
      margin-bottom: 41px;
    }

    @media (min-width: $desktop-width) {
      padding: 10px 56px;
    }
  }

  &--more {
    background: none;

    @media (min-width: $tablet-width) {
      background-color: $color-white;
      border: 1px solid $color-border-gray;
      margin-top: 123px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 143px;
    }

    .product-name {
      width: auto;
      text-align: center;
      margin-bottom: 5px;

      @media (min-width: $tablet-width) {
        width: 155px;
      }
    }

    .button {
      font-family: $font-stack-oswald;
      font-size: 16px;
      line-height: 20px;
      color: $text-color-description;
      text-align: center;

      @media (min-width: $tablet-width) {
        margin-top: 88px;
      }

      @media (min-width: $desktop-width) {
        padding: 10px 35px;
      }
    }
  }
}

.product__card {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
  }
}

.product__image {
  width: 140px;
  height: 144px;
  border-style: none;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 172px;
    margin-top: 40px;
  }

  &--big {
    @media (min-width: $tablet-width) {
      height: 208px;
      margin-top: 4px;
    }
  }
}

.product__link {
  margin-top: 20px;
  display: block;
}

.product__title {
  margin-bottom: 10px;
}

.product__link-image {
  width: 50%;
  text-align: center;
  font-size: 0;
  line-height: 0;

  @media (min-width: $tablet-width) {
    width: auto;
    display: block;
  }
}

.product__information {
  width: 50%;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0 38px;
  }
}

.product__properties {
  width: 100%;
  border-collapse: collapse;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    margin-top: 18px;

    tr {
      border-bottom: 1px solid $color-border-gray;
    }
  }
}

.product__field,
.product__value {
  font-family: $font-stack-arial;
  font-size: 12px;
  line-height: 16px;
  color: $text-color-description;
  padding-bottom: 1px;
  padding-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}

.product__value {
  text-align: right;
}

.product__more-image {
  width: 31px;
  height: 31px;
  margin-bottom: 22px;
  margin-top: 26px;
  margin-right: auto;
  margin-left: auto;
  display: block;

  @media (min-width: $tablet-width) {
    width: 61px;
    height: 61px;
    opacity: 0.2;
    margin-bottom: 51px;
    margin-top: 54px;
    margin-right: auto;
    margin-left: auto;
  }
}

.product__more-description {
  font-family: $font-stack-arial;
  font-size: 12px;
  line-height: 16px;
  color: $text-color-description;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-right: 52px;
    margin-left: 52px;
  }

  @media (min-width: $desktop-width) {
    margin: 25px 32px;
  }
}
