.product-name {
  width: 100px;
  font-family: $font-stack-oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $text-color-main;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: 37px;
    width: 155px;
    margin-left: auto;
    margin-right: auto;
  }
}
