.request-assistance {
  fieldset {
    border: none;
    text-align: left;
  }
}

.request-assistance__label {
  @include style-text-label;
}

.request-assistance__input-text {
  @include style-text-input;
}

.request-assistance__options-list {
  list-style: none;
}

.request-assistance__legend {
  @include style-text-legend;
}

.request-assistance__mark {
  @include style-text-mark;
}
