.request-assistance {
  margin: 0 20px;

  fieldset {
    border: none;
  }

  .button {
    width: 280px;
    margin: 0 auto;
    display: block;
    min-height: 40px; // Временно для сетки

    @media (min-width: $tablet-width) {
      margin: 0;
      font-size: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }
}

.request-assistance__main-group,
.request-assistance__options-group,
.request-assistance__contacts-group,
.request-assistance__comment-group,
.request-assistance__extra-group {
  padding: 0;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0 auto;
    margin-left: 71px;
    margin-right: 67px;
  }
}

.request-assistance__main-group {
  min-height: 214px; // Временно для сетки

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0 auto;
    margin-left: 71px;
    margin-right: 67px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;
  }
}

.request-assistance__options-group {
  min-height: 156px; // Временно для сетки

  @media (min-width: $tablet-width) {
    min-height: 202px; // Временно для сетки
    margin-top: 66px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 570px;
  }
}

.request-assistance__contacts-group {
  min-height: 242px; // Временно для сетки

  @media (min-width: $tablet-width) {
    margin-top: 66px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    margin-top: 45px;
    min-height: 228px; // Временно для сетки
  }
}

.request-assistance__comment-group {
  min-height: 244px; // Временно для сетки

  @media (min-width: $tablet-width) {
    min-height: 288px; // Временно для сетки
    margin-top: 66px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    min-height: 300px; // Временно для сетки
  }
}

.request-assistance__extra-group {
  min-height: 244px; // Временно для сетки

  @media (min-width: $tablet-width) {
    min-height: 256px; // Временно для сетки
    margin-top: 66px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    min-height: 206px; // Временно для сетки
    margin-top: 52px;
  }
}

.request-assistance__label {
  font-family: $font-stack-oswald;
  font-size: 16px;
  line-height: 18px;
  color: $text-color-black-two;
  text-transform: uppercase;
}

.request-assistance__input-text {
  font-family: $font-stack-oswald;
  font-size: 16px;
  line-height: 18px;
  color: $text-color-description;
  text-transform: uppercase;
}

.request-assistance__options-list {
  list-style: none;
  padding: 0;
}

.request-assistance__legend {
  font-family: $font-stack-oswald;
  font-size: 24px;
  line-height: 24px;
  color: $text-color-main;
  padding: 0;
}

.request-assistance__mark {
  font-family: $font-stack-arial;
  font-size: 14px;
  line-height: 16px;
  color: $text-color-description;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 34px;
}

.request-assistance__wrapper {
  width: 100%;
  min-height: 109px; // Временно для сетки

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0 auto;
    margin-left: 71px;
    margin-right: 67px;
    display: flex;
    min-height: 132px; // Временно для сетки
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    // width: 85%;
  }
}

.request-assistance__wrapper-group {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0 110px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
