.sale {
  background-color: $color-green;
  background-image: url("../img/jpg/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 39px;
  width: 280px;
  position: relative;

  &::before {
    content: "";

    position: absolute;
    width: 56px;
    height: 61px;
    left: 50%;
    margin-left: -27px;
    top: 65px;
    background-color: $color-white;
    mask-image: url("../img/svg/icon-gift.svg");

    @media (min-width: $tablet-width) {
      top: 67px;
      left: 113px;
    }

    @media (min-width: $desktop-width) {
      height: 61px;
      left: 50%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 69px;
    margin-bottom: 76px;
    width: 708px;

    background-image: url("../img/jpg/gift-photo-tablet@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 80px;
    background-image: url("../img/jpg/gift-photo-desktop@1x.jpg");
    width: 245px;
  }
}

.sale__image {
  width: 56px;
  height: 61px;
  fill: $color-white;
}

.sale__title {
  font-family: $font-stack-arial;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-support;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 74px;
    padding-bottom: 70px;
    text-align: left;
    margin-left: 60%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    text-align: center;
    padding-top: 172px;
    padding-bottom: 20px;
  }
}
