.sample {
  position: relative;

  @media (min-width: $tablet-width) {
    background: $color-white linear-gradient(90deg, $color-gray 50%, $color-white-three 50%) 0 172px no-repeat;
    background-size: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    background: $color-white linear-gradient(90deg, $color-gray 45%, $color-white-three 10%) 0 149px no-repeat;
  }
}

.sample__wrapper {
  padding-bottom: 232px;
  margin-top: 34px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-top: 69px;
    width: auto;
    padding-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 425px;
  }
}

.sample__photo-wrapper {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 320px;
  overflow: hidden;
  left: 50%;
  margin-left: -160px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    margin-left: -344px;
    left: 50%;
  }

  @media (min-width: $desktop-width) {
    max-width: 689px;
    margin-left: 0;
    left: -39px;
    bottom: 134px;
  }
}

.sample__photo {
  width: 320px;
  height: 240px;

  display: block;
  max-width: unset;
  background-color: $color-gray;

  @media (min-width: $tablet-width) {
    width: 705px;
    height: auto;
    background: $color-white linear-gradient(90deg, $color-gray 344px, $color-white-three 10%) 0 172px no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 689px;
    background: $color-white linear-gradient(90deg, $color-gray 363px, $color-white-three 10%) 0 190px no-repeat;
  }
}

.sample__start,
.sample__end {
  font-family: $font-stack-oswald;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-main;
  text-transform: uppercase;
  display: flex;
  justify-content: end;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-bottom: 6px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.23);
  }
}

.sample__range-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  margin-left: 63px;
  margin-right: 60px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 94px;
    margin-right: 95px;
    margin-bottom: 0;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 39px;
    margin-right: 110px;
    padding-bottom: 48px;
  }
}

.sample__range {
  border-radius: 6px;
  height: 13px;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
  border: 1px solid $color-pinkish-gray;
  margin-left: 20px;
  margin-right: 11px;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    height: 6px;
    border: none;
    background-color: $color-range;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-left: 24px;
    margin-right: 22px;
  }
}

.sample__slider {
  cursor: ew-resize;
  height: 7px;
  background-color: $color-green;
  border-radius: 6px;
  margin: 2px;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $color-white;
    border: solid 1px $color-pinkish-gray;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: -17px;
    margin-left: -19px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: $color-green-leaf;
      border-radius: 50%;
      top: 12px;
      left: 50%;
      margin-left: -4px;
    }
  }

  &:hover,
  &:focus {
    @media (min-width: $tablet-width) {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &:active {
    @media (min-width: $tablet-width) {
      border: solid 2px $color-green;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}
