.sample {
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: $color-white;
    background-image: linear-gradient(90deg, $color-gray 50%, $color-white-three 50%);
    background-repeat: no-repeat;
    background-position: 0 172px;
    background-size: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    background-image: linear-gradient(90deg, $color-gray 323px, $color-white-three 10%);
    background-position: 0 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}

.sample__wrapper {
  padding-bottom: 232px;
  margin-top: 34px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-top: 77px;
    width: auto;
    padding-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 337px;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}

.sample__photo-wrapper {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 320px;
  overflow: hidden;
  left: 50%;
  margin-left: -160px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    margin-left: -339px;
    left: 50%;
  }

  @media (min-width: $desktop-width) {
    max-width: 689px;
    margin-left: 0;
    left: -39px;
    top: 0;
    margin-top: -190px;
  }
}

.sample__photo {
  width: 320px;
  height: 240px;

  display: block;
  max-width: none;
  background-color: $color-gray;

  @media (min-width: $tablet-width) {
    width: 697px;
    height: auto;
    background: $color-white linear-gradient(90deg, $color-gray 344px, $color-white-three 10%) 0 172px no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 689px;
    background: $color-white linear-gradient(90deg, $color-gray 363px, $color-white-three 10%) 0 190px no-repeat;
  }
}

.sample__start,
.sample__end {
  border: none;
  font-family: $font-stack-oswald;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-main;
  text-transform: uppercase;
  display: flex;
  justify-content: end;
  background-color: $color-gray;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-bottom: 6px;
    margin-top: 13px;
    margin-bottom: 8px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.23);
  }

  &:hover,
  &:focus {
    @media (min-width: $tablet-width) {
      border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
    }
  }

  &:active {
    border-bottom: none;
  }
}

.sample__start {
  margin-right: 19px;

  @media (min-width: $desktop-width) {
    margin-right: 24px;
  }
}

.sample__end {
  margin-left: 19px;

  @media (min-width: $tablet-width) {
    background-color: $color-white-three;
  }

  @media (min-width: $desktop-width) {
    margin-left: 21px;
  }
}

.sample__range-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
  margin-left: 64px;
  margin-right: 59px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 99px;
    margin-right: 98px;
    margin-bottom: 0;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 39px;
    margin-right: 110px;
    padding-bottom: 57px;
    margin-top: 16px;
  }
}

.sample__range {
  border-radius: 6px;
  height: 13px;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
  border: 1px solid $color-pinkish-gray;
  margin-left: 0;
  margin-right: 0;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    height: 6px;
    border: none;
    background-color: $color-range;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    // margin-left: 24px;
    // margin-right: 22px;
    width: 427px;
  }
}

.sample__slider {
  cursor: ew-resize;
  height: 7px;
  background-color: $color-green;
  border-radius: 6px;
  margin: 2px;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $color-white;
    border: solid 1px $color-pinkish-gray;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: -17px;
    margin-left: -19px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: $color-green-leaf;
      border-radius: 50%;
      top: 12px;
      left: 50%;
      margin-left: -4px;
    }
  }

  &:focus,
  &:hover {
    @media (min-width: $tablet-width) {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
  }

  &:active {
    @media (min-width: $tablet-width) {
      border: solid 2px $color-green;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}
