.site-list {
  list-style: none;

  a {
    font-family: $font-stack-oswald;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: $text-color-main;
    text-align: center;
    text-decoration: none;
  }
}
