.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5px;
  }

  a {
    font-family: $font-stack-oswald;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: $text-color-main;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-family: $font-stack-oswald;
      font-size: 18px;
      line-height: 25px;
      color: $text-color-black-two;
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      font-size: 20px;
      line-height: 25px;
      color: $text-color-support;
    }
  }
}

.site-list__item {
  text-align: center;
  padding: 21px;
  border-bottom: 1px solid $color-border-gray;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 12px;
    padding-bottom: 7px;
    margin-right: 30px;
    border: none;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      border-bottom: 2px solid $color-green;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 24px;
  }
}
