@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin style-text($font-family, $font-size, $line-height, $color, $font-weight: 400) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

@mixin style-text-description {
  @include style-text($font-stack-arial, 14px, 18px, $text-color-description);
}

@mixin style-text-menu {
  @include style-text($font-stack-oswald, 20px, 20px, $text-color-main, 500);
  text-align: center;
}

@mixin style-text-head1 {
  @include style-text($font-stack-oswald, 36px, 36px, $text-color-support);
  text-align: center;
}

@mixin style-text-slogan {
  @include style-text($font-stack-oswald, 14px, 14px, $text-color-support);
  text-align: center;
}

@mixin style-text-button {
  @include style-text($font-stack-oswald, 14px, 18px, $text-color-support);
  text-align: center;
}

@mixin style-text-goals-title {
  @include style-text($font-stack-oswald, 24px, 37px, $text-color-main);
  text-align: left;
}

@mixin style-text-goals-link {
  @include style-text($font-stack-oswald, 16px, 16px, $text-color-main);
  text-align: left;
}

@mixin style-text-title {
  @include style-text($font-stack-oswald, 36px, 60px, $text-color-main);
  text-align: left;
}

@mixin style-text-goals-title {
  @include style-text($font-stack-oswald, 24px, 24px, $text-color-main);
  text-align: center;
}

@mixin style-text-goals-description {
  @include style-text($font-stack-arial, 12px, 12px, $text-color-description);
  text-align: center;
}

@mixin style-text-price {
  @include style-text($font-stack-oswald, 14px, 20px, $text-color-main);
  text-align: center;
}

@mixin style-text-sample {
  @include style-text($font-stack-oswald, 16px, 20px, $text-color-main);
  text-align: left;
}

@mixin style-text-contacts-title {
  @include style-text($font-stack-oswald, 16px, 20px, $text-color-main);
  text-align: left;
}

@mixin style-text-product-name {
  @include style-text($font-stack-oswald, 16px, 20px, $text-color-main);
  text-align: left;
}

@mixin style-text-product-description {
  @include style-text($font-stack-arial, 12px, 16px, $text-color-description);
  text-align: left;
}

@mixin style-text-product-more-description {
  @include style-text($font-stack-arial, 12px, 16px, $text-color-description);
  text-align: center;
}

@mixin style-text-product-button {
  @include style-text($font-stack-oswald, 16px, 20px, $text-color-support);
  text-align: center;
}

@mixin style-text-product-more-button {
  @include style-text($font-stack-oswald, 16px, 20px, $text-color-main);
  text-align: center;
}

@mixin style-text-contacts-description {
  @include style-text($font-stack-arial, 14px, 20px, $text-color-description);
  text-align: left;
}

@mixin style-text-copyright {
  @include style-text($font-stack-arial, 16px, 16px, $text-color-description);
  text-align: left;
}

@mixin style-text-extra-title {
  @include style-text($font-stack-oswald, 24px, 24px, $text-color-main);
  text-align: left;
}

@mixin style-text-extra-product-name {
  @include style-text($font-stack-oswald, 16px, 16px, $text-color-main);
  text-align: left;
}

@mixin style-text-extra-volume {
  @include style-text($font-stack-arial, 14px, 14px, $text-color-description);
  text-align: left;
}

@mixin style-text-extra-price {
  @include style-text($font-stack-arial, 14px, 14px, $text-color-description);
  text-align: right;
}

@mixin style-text-sale-title {
  @include style-text($font-stack-arial, 16px, 20px, $text-color-support);
  text-align: center;
}

@mixin style-text-page-main-description {
  @include style-text($font-stack-oswald, 14px, 18px, $text-color-main);
  text-align: left;
}

@mixin style-text-label {
  @include style-text($font-stack-oswald, 16px, 18px, $text-color-black-two);
  text-align: left;
}

@mixin style-text-input {
  @include style-text($font-stack-oswald, 16px, 18px, $text-color-description);
  text-align: left;
}

@mixin style-text-legend {
  @include style-text($font-stack-oswald, 24px, 24px, $text-color-main);
  text-align: left;
}

@mixin style-text-mark {
  @include style-text($font-stack-arial, 14px, 16px, $text-color-description);
  text-align: center;
}
