body {
  min-width: 320px;
  // background-color: $text-color-description;
  background: $text-color-description url("../img/preview/Cat-Energy-Index-Mobile-Popups.png") no-repeat 50% 0;
  // background-size: 720px auto;
  min-height: 750px;
  // opacity: 0.6;
}


@media (min-width: $tablet-width) {
  body {
    background: $text-color-description url("../img/preview/cat-energy-index-tablet.jpg") no-repeat 50% 0;
    // background-size: 1178px auto;
  }
}


@media (min-width: $desktop-width) {
  body {
    background: $text-color-description url("../img/preview/cat-energy-index-desktop.jpg") no-repeat 50% 0;
  }
}

.main-nav {
  /* Временно для сетки */
  min-height: 195px;
  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
  /* Временно для сетки */
  min-height: 65px;
}

.site-list {
  /* Временно для сетки */
  min-height: 195px;
}

.page-header {
  display: flex;
  flex-direction: column;
  // width: 100%;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  // width: 100%;
}

.page-header__logo {
  height: 65px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    /* Временно для сетки */
    display: flex;
    align-items: center;
    min-height: 108px;
    width: auto;
    margin: 0;
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    margin: 0 auto;
  }

  .page-header {
    flex-direction: row;
  }

  .page-header__logo {
    width: 174px;
    height: 60px;
  }

  .site-list {
    /* Временно для сетки */
    width: 487px;
    min-height: 60px;
  }

}

@media (min-width: $desktop-width) {
  .main-nav {
    /* Временно для сетки */
    min-height: 113px;
    align-items: flex-end;
  }

  .page-header__logo {
    width: 203px;
    height: 60px;
  }

  .page-header__wrapper {
    width: 1220px;
    align-items: flex-end;
  }
}

//  Блок main
.page-main {
  min-width: 320px;
  margin: 0 auto;
}

.page-main__wrapper {
  width: 320px;
  margin: 0 auto;
  min-height: 305px;
  display: flex;
  flex-direction: column;
}

.page-main__head {
  min-height: 74px;
}

.page-main__slogan {
  min-height: 16px;
}

/* Обводки */
body > *,
body > * > *,
body > * > * > *,
body > * > * > * > *,
body > * > * > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before,
body > * > * > * > *::before,
body > * > * > * > * > *::before {
  content: "."attr(class);

  position: absolute;
  top: 2px;
  left: 2px;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monospace;
  white-space: nowrap;
}

body > * {
  background: rgba(128, 255, 128, 0.25);
  background-clip: content-box;
  outline: 3px solid green;
  outline-offset: -3px;
}

body > *::before {
  color: white;
  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  background-clip: content-box;
  outline: 3px solid rgba(255, 45, 82, 0.9);
  outline-offset: -3px;
}

body > * > *::before {
  color: white;
  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(173, 216, 230, 0.2);
  background-clip: content-box;
  outline: 3px solid rgba(173, 216, 230, 0.9);
  outline-offset: -3px;
}

body > * > * > *::before {
  color: black;
  background: lightblue;
}

body > * > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  background-clip: content-box;
  outline: 3px solid rgba(234, 255, 45, 0.9);
  outline-offset: -3px;
}

body > * > * > * > *::before {
  color: black;
  background: rgb(234, 255, 45);
}

body > * > * > * > * > * {
  outline: 3px solid violet;
  outline-offset: -3px;
}

body > * > * > * > * > *::before {
  color: black;
  background: violet;
}


