$color-green: #68b738;
$color-gray: #f2f2f2;
$color-border-gray: #ededed;
$color-white: #ffffff;
$text-color-description: #444444;
$text-color-main: #111111;
$text-color-black-two: #222222;
$text-color-support: #ffffff;
$font-stack-oswald: "Oswald", "Arial", sans-serif;
$font-stack-arial: "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1300px;
$max-width: 1440px;
