@import "abstracts/mixins";
@import "abstracts/font";
@import "abstracts/variables";
//
@import "components/buttons";
//
@import "layout/advantages";
@import "layout/catalog";
@import "layout/contacts";
@import "layout/copyright";
@import "layout/example";
@import "layout/extra-catalog";
@import "layout/extra-list";
@import "layout/goals";
@import "layout/main-nav";
@import "layout/page-header";
@import "layout/page-main";
@import "layout/product";
@import "layout/request-assistance";
@import "layout/sale";
@import "layout/sample";
@import "layout/site-list";
@import "layout/social-list";

body {
  @include style-text-description;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.title {
  @include style-text-title;
}
